
/* Global */

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-light-blue:hsl(204, 61%, 84%); 
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000; 
    --color-light-pink:rgba(244, 151, 221, 0.721); 
    --color-green:rgb(72, 116, 5);
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
    /* Size */
  --border-radius-basic:5px;
  /* Animation */
  --duration-basic:300ms;
    
}
      /*All*/
  *{ 
    box-sizing: border-box;
  }
        
        /* ---------------------------------- */

body {
    font-family: 'Open Sans', sans-serif; 
    margin: 0;
    cursor: default;

}
 /* Navbar setup */
.navbar__logo a{
    text-decoration: none; 
    color:var(--color-black);
    font-weight: var(--weight-bold);
}
#navbar{
    display: flex;
    justify-content: space-between; 
    background-color:var(--color-white );
    align-items: center;
    padding: 15px;
    border: 2px solid black;
    margin: 5px;
}
.navbar__logo{
    font-size: var(--font-medium);

}
.navbar__menu{
    display: flex; 


}
.navbar__menu>li{
    padding: 10px 15px; 
    margin: 0 5px;
    color: var(--color-black );
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    border-radius: var(--border-radius-basic);

}
.navbar__menu__item.active{
    border: 2px solid var(--color-dark-grey ); 
}
.navbar__menu__item:hover{ 
    background-color: var(--color-dark-white);
}
.logo{ 
        width: 20px; 
        height: 20px; 
}
ul{
    list-style: none;
    padding-left : 0;
}

button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

  /* Typography */

 h1{
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
 }
 h2{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0px;
 }
 h3{ 
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    font-weight: var(--color-black);
    margin: 8px 0px;

 }
 p{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
 }


 /* Home setup */
#home{
    /* background:url(imgs/home-background.png) center/cover no-repeat; */
    padding: 40px;
    text-align: center;
    /* border: 1px solid black; */
    margin: 0;
} 
#home:after{
    content: '';
    display: block;
    width: 70%;
    height: 3px;
    margin: auto; 
    background-color:var(--color-dark-grey);

} 
.home__avatar{
    width: 300px;
    height: 300px;
    border-radius: 50%; 
    padding: 10px;
    margin: 30px; 


}  
.home__profile__info {
    font-weight: var(--weight-semi-bold);  
}
.home__profile__info a{
    text-decoration: none;
    color: var(--color-black);
}
.home__profile__info i{
    padding: 0px 30px;
}
.home__profile__info li{
margin: 15px 20px;
padding: 3px 15px; 
list-style: none;
background-color: var(--color-white);
border-radius: 5px;
text-align: left; 
}
.home__profile__info i{
    padding: 6px;
}

.home__pofile{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.home__contact{
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    margin: 20px;
    padding: 8px 15px;
    border: 2px solid var(--color-black); 
    border-radius: var(--border-radius-basic);
} 
/* common */
.section{   /*중앙배치*/
    text-align: center;
    margin: auto;
    padding:35px;
}
.section__container{
    max-width: 1200px; 
    margin: auto; 
}

/* about setup */
.about__stacks{
    display: flex;
    justify-content: space-between;
    margin: 80px 0px;
}  
.about__intro{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding:3%;
}
.about__title{
    font-size: var(--font-large);
    font-weight: var(--weight-semi-bold);
    width: 30%;
}
.about__description{ 
    font-size: var(--font-regular);
    margin: auto;
    width: 70%; 
}
.stack__icon{ 
    width: 250px;
    height: 250px;
    line-height: 250px;
    font-size: 150px;
    border: 1px solid var(--color-black );
    border-radius: 50%;
    margin-bottom: 20px;
    color: var(--color-blue);

}
.stack__icon i{
    transition: all var(--duration-basic) ease;
}
.stack__icon:hover .F{
    color: rgb(72, 186, 227);
    transform: scale(1.2);
}  
.stack__icon:hover .B{
    color: rgb(49, 141, 49);
    transform: scale(1.2);
}  
.stack__icon:hover .D{
    color: rgb(25, 32, 45);
    transform: scale(1.2);
}  
.stack__title{
    color: var(--color-dark-grey);
}

.certificate{ 
    margin: auto;
    max-width: 1200px;


}
.certificates__title{
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    padding: 15px;
    border-radius: 40px;
    background-color: var(--color-light-white);


} 
.certificates__list{
    padding: 15px;
    margin: 30px 0px;
    display: flex; 
    list-style: circle;
    justify-content: space-evenly;
    background-color: var(--color-light-white);

}
 

    /* Skill setup */

#skills{ 
    font-weight: var(--weight-semi-bold);
 
}
.skills__container{     
    margin: 40px 0px;
    text-align: left;
    font-size: var(--font-regular); 
    /* background-color:var(--color-white); */
    background-color:  #e8ecef;  
}
  
.skills__guide ul{  
    color: #000000; 
    background-color:  #e8ecef;  
    font-weight: var(--weight-bold);
    display: flex;
    padding: 15px;
    justify-content: space-around; 
    border-radius: 40px;


    
} 
.skills__title{  
    text-align: center;
    font-size: var(--font-regular);
    margin: 0;
    background-color: #ffffff;
    color: var(--color-dark-grey);
    padding: 5px;
}
.skills__left{ 
    margin: 0;   
    display: flex; 
    justify-content: space-around;  

}
.skill__list__item{
    padding: 5px;
    margin: 0 20px;
    list-style: none;
} 
.skills__right{  
    margin: auto;
    display: flex; 
    margin: 0;
    justify-content: space-around;   
  
}   
.skill__marks{
    color: antiquewhite;
    background-color: var(--color-pink) ;
    /* border-radius: var(--border-radius-basic); */
    border-radius: 50%;
    padding :0px 7px; 
    margin: 10px;
    font-weight: var(--weight-bold);
}  
/* Works Setup */
.work__navbar__btn{
    border: 1px solid var(--color-dark-white);
    border-radius: var(--border-radius-basic);
    font-size: var(--font-regular);
    padding: 8px 40px;
    margin: 2px 15px;
}
.work__navbar{
    margin: 30px;
}
.work__navbar__btn:hover{
    background-color: var(--color-light-white );
}
.work__projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
} 
.project{
    width: 350px;
    height: 280px;
    margin: 10px 10px;
    background-color: var(--color-light-white );
    position: relative;
}

.project__img{
    width: 95%;
    padding: 5px;
    max-width: 100%;
    max-height: 100%;
}
.project__description{
    position: absolute; 
    top: 0;
    left: 0;   
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    opacity: 0;   
    transition: all var(--duration-basic) ease-in;
}
.project:hover .project__description{
    opacity: 0.8;   

}
.project h3{
    /* margin: 5px; */
    /* background-color: pink; */
    font-weight: var(--weight-semi-bold);
}.project h3, span{
    color: white;
    margin: 5px;

}
/* Contact setup */
#contact {
    background-color: var(--color-blue);
}
.contact__title{
    margin: 20px 0px;

} 
.contact__title,
.contact__email,
.contact__tel{
    color: white;
}
  