.logo{ 
        width: 20px;
      
        height: 20px; 
}
.navbar__logo a{
    text-decoration: none;
    color: black;
}
#home img{
    width: 200px;
    height: 170px; 
}
.stack__icon>img{
    width: 180px;
    height: 200px;
}
.skill__mark{
    color: antiquewhite;
    background-color: rgb(100, 172, 78);
    border-radius: 40px;
    /* padding-left: 5px; */
    padding :0px 7px; 
} 