
/* Global */

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-light-blue:hsl(204, 61%, 84%); 
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000; 
    --color-light-pink:rgba(244, 151, 221, 0.721); 
    --color-green:rgb(72, 116, 5);
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
    /* Size */
  --border-radius-basic:5px;
  /* Animation */
  --duration-basic:300ms;
    
}
      /*All*/
  *{ 
    box-sizing: border-box;
  }
        
        /* ---------------------------------- */

body {
    font-family: 'Open Sans', sans-serif; 
    margin: 0;
    cursor: default;

}
 /* Navbar setup */
.navbar__logo a{
    text-decoration: none; 
    color:var(--color-black);
    font-weight: var(--weight-bold);
}
#navbar{
    display: flex;
    justify-content: space-between; 
    background-color:var(--color-white );
    align-items: center;
    padding: 15px;
}
.navbar__logo{
    font-size: var(--font-medium);

}
.navbar__menu{
    display: flex; 


}
.navbar__menu>li{
    padding: 10px 15px; 
    margin: 0 5px;
    color: var(--color-black );
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    border-radius: var(--border-radius-basic);

}
.navbar__menu__item.active{
    border: 2px solid var(--color-dark-grey ); 
}
.navbar__menu__item:hover{ 
    background-color: rgb(218, 241, 255);
}
.logo{ 
        width: 20px; 
        height: 20px; 
}
ul{
    list-style: none;
    padding-left : 0;
}

button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

  /* Typography */

 h1{
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
 }
 h2{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0px;
 }
 h3{ 
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    font-weight: var(--color-black);
    margin: 8px 0px;

 }
 p{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
 }


 /* Home setup */
#home{
    /* background:url(imgs/home-background.png) center/cover no-repeat; */
    background-color: rgb(218, 241, 255);
    padding: 40px;
    text-align: center;
}
.home__avatar{
    width: 330px;
    height: 250px;
    border-radius: 8px; 
    padding: 10px;
    margin: 30px; 


}  
.home__profile__info {
    /* text-align: center; */
    /* flex-basis: 60%; */


}
.home__profile__info li{
margin: 15px 20px;
padding: 10px; 
list-style: none;
background-color: var(--color-white);
border-radius: 5px;
text-align: left; 
}
.home__profile__info i{
    padding: 6px;
}

.home__pofile{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.home__contact{
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    margin: 20px;
    padding: 8px 15px;
    border: 2px solid var(--color-black); 
    border-radius: var(--border-radius-basic);
} 
/* common */
.section{   /*중앙배치*/
    text-align: center;
    margin: auto;
    padding:35px;
}
.section__container{
    max-width: 1200px; 
    margin: auto; 
}

/* about setup */
.about__stacks{
    display: flex;
    justify-content: space-between;
    margin: 80px 0px;
}  
.about__intro{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding:3%;
}
.about__title{
    font-size: var(--font-large);
    font-weight: var(--weight-semi-bold);
    width: 30%;
}
.about__description{ 
    font-size: var(--font-regular);
    margin: auto;
    width: 70%; 
}
.stack__icon{ 
    width: 250px;
    height: 250px;
    line-height: 250px;
    font-size: 150px;
    border: 1px solid var(--color-black );
    border-radius: 50%;
    margin-bottom: 20px;
    color: var(--color-blue);

}
.stack__icon i{
    transition: all var(--duration-basic) ease;
}
.stack__icon:hover i{
    color: var(--color-light-pink);
    transform: scale(1.2);
}
.stack__title{
    color: var(--color-dark-grey);
}

.certificate{
    display: flex;
}
.certificate i{  
    margin: auto;
    font-size: var(--font-medium);
}
 
.about__certificates{
    display: flex;
    justify-content: space-between;
    color: var(--color-blue);
}
.certificate__detail{ 
    justify-content: space-between;
    padding: 20px; 
}


    /* Skill setup */

#skills{ 
    font-weight: var(--weight-semi-bold);



}
.skills__container{     
    margin: 40px 0px;
    text-align: left;
    font-size: var(--font-regular); 
    /* background-color:var(--color-white); */
    background-color:  #e8ecef;  

}
  
.skills__guide ul{ 

    color: #000000; 
    background-color:  #e8ecef;  
    font-weight: var(--weight-bold);
    display: flex;
    padding: 15px;
    justify-content: space-around; 
    border-radius: 40px;


    
} 
.skills__title{  
    text-align: center;
    font-size: var(--font-regular);
    margin: 0;
    background-color: #ffffff;
    color: var(--color-dark-grey);
    padding: 5px;
}
.skills__left{ 
    margin: 0;   
    display: flex; 
    justify-content: space-around;  

}
.skill__list__item{
    padding: 5px;
    margin: 0 20px;
    list-style: none;
} 
.skills__right{  
    margin: auto;
    display: flex; 
    margin: 0;
    justify-content: space-around;   
  
}   
.skill__marks{
    color: antiquewhite;
    background-color: var(--color-pink) ;
    border-radius: var(--border-radius-basic);
    padding :0px 7px; 
    margin: 10px;
    font-weight: var(--weight-bold);
}  